<div class="profile-page">

  <div class="user-info">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-md-10 offset-md-1">
          <a (click)="editProfile()" class="btn btn-sm btn-outline-secondary action-btn pull-right">
            <i class="fa fa-edit"></i> Edit Profile Settings
          </a>
          <section class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-3">

                  <!-- Profile Image -->
                  <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                      <div class="text-center">
                        <img [src]="transform()" class="img-circle img-bordered-sm" height="100" width="100" />
                      </div>

                      <h3 class="profile-username text-center"> {{user.firstName}} {{user.lastName}}</h3>

                      <p class="text-muted text-center"> {{user.role}}</p>

                      <ul class="list-group list-group-unbordered mb-3">
                          <li class="list-group-item">
                              <b>User Name</b> <a class="float-right"> {{user.userName}}</a>
                            </li>
                        <li class="list-group-item">
                          <b>First Name </b> <a class="float-right">{{user.firstName}}</a>
                        </li>
                        <li class="list-group-item">
                          <b>Last Name </b> <a class="float-right"> {{user.lastName}}</a>
                        </li>
                        <li class="list-group-item">
                          <b>Email</b> <a class="float-right"> {{user.email}}</a>
                        </li>
                        <li class="list-group-item">
                          <b>Gender</b> <a class="float-right"> {{user.gender}}</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>