.pull-right{
    float: right !important;
  }

.pull-left{
    float: left !important;
  }
  
.text-center {
    text-align: center!important;
}
.card-primary.card-outline {
    border-top: 3px solid #007bff !important;
    width: 300px !important;
}