<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" style="padding: 50px;">
                    <div class="form-group">
                        <label for="usernameOrEmail">Email</label>
                        <input type="text" formControlName="usernameOrEmail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.usernameOrEmail.errors }" />
                        <div *ngIf="submitted && f.usernameOrEmail.errors" class="invalid-feedback">
                            <div *ngIf="f.usernameOrEmail.errors.required">Username is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary">Login</button>
                        <a routerLink="/register" class="btn btn-link">Register</a>
                        <a routerLink="/forgot">Forgot Password</a>
                    </div>
                    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                </form>
            </div>
        </div>
    </div>
</div>