<h2>Edit User</h2>
<form [formGroup]="profileUserForm">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">First Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div>
    </div>
    <!-- <div class="form-group">
        <label for="userName">Username</label>
        <input type="text" formControlName="userName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
        <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
            <div *ngIf="f.userName.errors.required">Username is required</div>
        </div>
    </div> -->
    <!-- <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>  -->
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="dob">Date of Birth</label>
        <input type="date" formControlName="dob" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" />
        <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
            <div *ngIf="f.dob.errors.required">Dob is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="gender">Gender</label>
        <mat-radio-group class="example-radio-group" formControlName="gender" [(ngModel)]="currentSelectedGender">
            <mat-radio-button class="example-radio-button" *ngFor="let gender of gender" [value]="gender">
              {{gender}}
            </mat-radio-button>
          </mat-radio-group>
    </div>
    <div class="form-group">
        <img [src]="url" height="200"> <br/>
        <label for="profileImage">Upload Profile</label>
        <input accept="image/*" type="file" (change)="selectFile($event)" class="form-control" />
    </div>
    <div class="form-group">
        <button [disabled]="loading" (click)="onSubmit()" class="btn btn-primary">Edit</button>
        <button (click)="dialogRef.close()" class="btn btn-primary">Cancel</button>
      </div>
</form>
