<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
    <img src="assets/dist/img/logo.jpg" alt="AdminLTE Logo" class="pnx-msg-icon elevation-3">
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="assets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a [routerLink]="['/profile']" class="d-block">{{user.firstName}} {{user.lastName}}</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview menu-open">
          <!-- <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
              <i class="right fas fa-angle-left"></i>
            </p>
          </a> -->
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <!-- <a [routerLink]="['/cngpass']" [queryParams]="{token: token}"   class="nav-link active">  -->
               <a [routerLink]="['/cngpass']" class="nav-link active">
                <i class="far fa-circle nav-icon"></i>
                <p>Change Password</p>
              </a>
            </li>
          </ul>
          <ul class="nav nav-treeview"  *ngIf="isAdmin">
            <li class="nav-item">
              <a [routerLink]="['/exam']" class="nav-link active">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Exam</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>