.example-radio-button {
  margin: 5px !important;
}

.select2.ng-invalid.ng-touched {
  border: 1px solid red
}

.pull-right{
  float: right !important;
}

.pull-left{
  float: left !important;
}