<!-- Content Header (Page header) -->
<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-sm-6">
      <h1 class="m-0 text-dark">Dashboard</h1>
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container-fluid -->
<!-- /.content-header -->

<section class="content">
  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-6" *ngFor="let examAssigns of examAssigns">
          <!-- small box -->
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{examAssigns.exam.name}}</h3>

              <p>New Exam assigned to you</p>
            </div>
            <div class="icon">
              <i class="ion ion-clipboard"></i>
            </div>
            <a [routerLink]="['/start/exam',{id: examAssigns.id}]" class="small-box-footer">Start Exam<i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
    </div>
  </div>
</section>