.example-radio-button {
    margin: 5px !important;
  }
  
  :host ::ng-deep .mat-radio-outer-circle{
    border-style: none;
  }

  .pull-right{
    float: right !important;
  }

.pull-left{
    float: left !important;
  }